* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
h1,
h2,
h3,
h4,
p,
a,
li,
span,
label {
  text-decoration: none;
  font-family: "Roboto", sans-serif;

  color: rgb(255, 255, 255);
}
body {
  background-color: black;
}
.btn {
  background-color: black;
  color: white;
  border: 1px solid rgb(252, 248, 248);
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin: 2rem 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: 0.8s;
  border-radius: 10px;
}
.btn:hover {
  background-color: white;
}
.btnn:hover {
  color: black;
}

.btn-light {
  background-color: transparent;
  color: white;
}
.btn-light:hover {
  color: black;
  background-color: white;
}
